/EnglishLanguagePlugin/EnglishLanguagePlugin/obj
/EnglishLanguagePlugin/EnglishLanguagePlugin/bin/Debug
/EnglishLanguagePlugin/EnglishLanguagePlugin/bin/Release/Newtonsoft.Json.xml
/EnglishLanguagePlugin/EnglishLanguagePlugin/bin/Release/Newtonsoft.Json.dll
